<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST">
      <input type="text" name="CompanyID" placeholder="Company ID" />
      <input
        type="text"
        name="CompanyPassword"
        placeholder="company Password"
      />
      <input type="text" name="CompanyName" placeholder="Company Name" />
      <input type="submit" />
    </form>
  </body>
</html>
